@{
    ViewBag.Title = "Latest emails";
}
<div class="row">
    <div class="col-md-12" id="publisherEmailsContainer">
        <div class="row" id="publisherEmails">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Latest emails
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="col-sm-12" id="myTableContainer">
                                    <table id="myTable" class="table table-striped table-bordered dataTable no-footer table-hover"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8" id="rightEmailContainer">
        @Html.Partial("Custom/SingleEmail")
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var emailWasNotClicked = true;
        $(document).ready(function () {

            emailListHelper.settings={
                gridSelector: '#myTable',
                gridContainerSelector:'#myTableContainer',
                gridUrl: '@Url.Action("GetLatest", "Email")',
                permalinkEmalUrl: '@Url.Action("Index", "Email")',
                getEmailBodyUrl:'@Url.Action("GetEmailBody", "Email")',
                gridAddCustomGetParams: function (d) {},
                showPublisherColumn: true,
                publisherInfoContainerId: 'publisherEmails',
                publisherEmailsContainerSelector: '#publisherEmailsContainer',
                emailMinDateId: 'emailMinDate',
                emailMaxDateId: 'emailMaxDate',
                gridFilterSelector:'#myTable_filter',
                emailPermalinkId:'emailPermalink',
                emailWasNotClicked:true
            };
            emailListHelper.init();

            $("#backToEmailsView").click(function(){
                window.location.href = "@Url.Action("Index","Publisher")";
            });

            $('div.dataTables_filter input').addClass('form-control');
            $("#myTable").css({'width':'100%'});
        });
    </script>
}
