@model MailPusher.Models.PublisherEmail

@{
    ViewBag.Title = "Subscribe publisher";
}
<div class="title_left" id="subscribeHeader">
    <h3>Next publisher to subcribe:</h3>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Publisher: <label id="publisherName"></label> </h2>
        <div class="nav navbar-right panel_toolbox filterWithLongText" id="countryFilterContainer">
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal form-label-left">
            <input type="hidden" id="publisherId" />
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Website</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <label class="control-label col-md-9 col-sm-9 col-xs-12" style="text-align:left; margin-left:0px; padding-left:0px">
                        <a target="_blank" id="publisherDomain"></a>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    E-mail address to subscribe with
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" readonly="readonly" class="form-control col-md-6 col-xs-12" id="publisherEmail" />
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary  full-width" type="button" onclick="CopyToClipboard('publisherEmail')">Copy to clipboard</button>
                </div>
            </div>
            <br /><br /><br />
            <div class="form-group">
                <div class="col-md-9">
                    <button class="btn btn-success" onclick="ChangePublisherStatus('@MailPusher.Common.Enums.PublisherStatus.Subscribed')">
                        I have now subscribed to publisher's newsletter
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger full-width" onclick="ChangePublisherStatus('@MailPusher.Common.Enums.PublisherStatus.Error_SubscriptionNotFound')">
                        I couldn't find where to subscribe
                    </button>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-3 col-md-offset-9">
                    <button class="btn btn-danger full-width" onclick="ChangePublisherStatus('@MailPusher.Common.Enums.PublisherStatus.Error_NotAllowedToSubscribe')">
                        The website did not allow me to subscribe
                    </button>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-3 col-md-offset-9">
                    <button class="btn btn-danger full-width" onclick="ChangePublisherStatus('@MailPusher.Common.Enums.PublisherStatus.Error_DoesNotExist')">
                        The website does not exist
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        function ChangePublisherStatus(newStatus) {
            $.post('@Url.Action("ChangePublisherStatus", "Publisher")', { "status": newStatus, "id": $("#publisherId").val() }).done(function (result) {
                if(result===true)
                {
                    $.notify('Successfully changed publisher state to ' + newStatus,
                        {
                            type: 'success',
                            placement:{align:'center'}
                        });
                    if(!isSpecificPublisherState()){
                        injectedCountryFilter.countryChanged();
                    };
                }
            });
        }
        function CopyToClipboard(inputId) {
            SelectText(inputId);
            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
            } catch (err) {
                console.log('Oops, unable to copy');
            }

            function SelectText(inputId) {
                document.getElementById(inputId).select();
            }
        }

        function InitPublisher(publisher) {
            $("#publisherName").html(publisher.PublisherName);
            $("#publisherDomain").text(publisher.Domain);
            $("#publisherDomain").attr("href", publisher.Domain)
            $("#publisherEmail").val(publisher.SubscriberEmail)
            $("#publisherId").val(publisher.PublisherId);
        }

        InitPublisher(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))

        $(document).ready(function(){
            if(!isSpecificPublisherState()) {
                injectedCountryFilter.init({
                    countryFilterContainerID: 'countryFilterContainer',
                    selectedCountryCode:'@Model.Language',
                    onCountryChanged: function (countryCode) {
                        var requestData = {
                            'countryCode': countryCode,
                            'status':@((int)MailPusher.Common.Enums.PublisherStatus.None),
                            'publisherId': $("#publisherId").val(),
                        };
                        if (!!requestData) {
                            $.get('@Url.Action("GetFirstPublisher", "Subscription")', requestData).done(function (data) {
                                InitPublisher(data);
                            });
                        }
                    },
                });
            }else{
                $("#subscribeHeader").hide();
            }
        });

        function isSpecificPublisherState()
        {
            return !!getUrlParameter("publisherId");
        }
    </script>
    }

