<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMMA - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/gentelella")
    @Scripts.Render("~/bundles/mailPusher")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
@if (Context.User.Identity.IsAuthenticated)
{
            @*<div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;" id="menuProjectName">
                        <a href="index.html" class="site_title"><i class="fa fa-envelope-open-o"></i> <span>EMMA Admin!</span></a>
                    </div>

                    <div class="clearfix"></div>

                    @*<!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>John Doe</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->

                        <br>*@

                    <!-- sidebar menu -->
                    @*<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section active">
                            <ul class="nav side-menu" style="">
                                <li>
                                    <a href='@Url.Action("Index", "Home")'><i class="fa fa-home"></i> Home </a>
                                </li>
                                <li id="publisherMenuItem">
                                    <a href='@Url.Action("Index", "Publisher")'><i class="fa fa-search"></i> Publishers</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Index", "Subscription")'><i class="fa fa-envelope-o"></i> Subscribe</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Unconfirmed", "Publisher")'><i class="fa fa-question-circle"></i> Unconfirmed subscriptions</a>
                                </li>
                                <li id="faildSubscriptionsMenuItem">
                                    <a href='@(Url.Action("Index", "Publisher") + "?publisherStatuses=" +
                                      (MailPusher.Common.Enums.PublisherStatus.Error_ConfirmNotFound
                                      | MailPusher.Common.Enums.PublisherStatus.Error_DoesNotExist
                                      | MailPusher.Common.Enums.PublisherStatus.Error_NotAllowedToSubscribe
                                      | MailPusher.Common.Enums.PublisherStatus.Error_SubscriptionNotFound).ToString())'><i class="fa fa-exclamation-circle"></i>Failed subscriptions</a>
                                </li>
                                <li id="potentiallyCancelledSubscriptionsMenuItem">
                                    <a href='@(Url.Action("Index", "Publisher") + "?isPotentiallyCancelled=true")'><i class="fa fa-trash"></i> Potentially cancelled subscriptions</a>
                                </li>
                            </ul>
                        </div>
                    </div>*@
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    @*<div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="" href="@Url.Action("LogOut", "Account")" data-original-title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>*@
                    <!-- /menu footer buttons -->

            @*    </div>
            </div>*@

            <div class="top_nav">
                <div class="nav_menu">
                    <div class="navbar nav_title" style="border: 0;" id="menuProjectName">
                        <a href="index.html" class="site_title"><i class="fa fa-envelope-open-o"></i> <span>EMMA Admin!</span></a>
                    </div>
                    <nav>
                        <ul class="nav navbar-nav" style="">
                            <li>
                                <a href='@Url.Action("Index", "Home")'><i class="fa fa-home"></i> Home </a>
                            </li>
                            <li id="publisherMenuItem">
                                <a href='@Url.Action("Index", "Publisher")'><i class="fa fa-search"></i> Publishers</a>
                            </li>
                            <li>
                                <a href='@Url.Action("Index", "Subscription")'><i class="fa fa-envelope-o"></i> Subscribe</a>
                            </li>
                            <li>
                                <a href='@Url.Action("Unconfirmed", "Publisher")'><i class="fa fa-question-circle"></i> Unconfirmed subscriptions</a>
                            </li>
                            <li id="faildSubscriptionsMenuItem">
                                <a href='@(Url.Action("Index", "Publisher") + "?publisherStatuses=" +
                                      (MailPusher.Common.Enums.PublisherStatus.Error_ConfirmNotFound
                                      | MailPusher.Common.Enums.PublisherStatus.Error_DoesNotExist
                                      | MailPusher.Common.Enums.PublisherStatus.Error_NotAllowedToSubscribe
                                      | MailPusher.Common.Enums.PublisherStatus.Error_SubscriptionNotFound).ToString())'><i class="fa fa-exclamation-circle"></i> Failed subscriptions</a>
                            </li>
                            <li id="potentiallyCancelledSubscriptionsMenuItem">
                                <a href='@(Url.Action("Index", "Publisher") + "?isPotentiallyCancelled=true")'><i class="fa fa-trash"></i> Potentially cancelled subscriptions</a>
                            </li>
                        </ul>
                        @*<div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>*@

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @User.Identity.Name
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Action("LogOut", "Account")"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
}
            <div class="right_col" role="main" style="min-height: 1657px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @RenderBody()
                    </div>

                </div>
            </div>
            <footer>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </footer>
                
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gentelella")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        FixNavigation();
    </script>
</body>
</html>
