<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMMA - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/gentelella")
    @Scripts.Render("~/bundles/mailPusher")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
@if (Context.User.Identity.IsAuthenticated)
{
            <div class="top_nav" data-spy="affix" data-offset-top="100">
                <div class="nav_menu navbar-fixed-top" id="topNavMenu">
                    <div class="navbar nav_title" style="border: 0;" id="menuProjectName">
                        <a href="@Url.Action("Index", "Home")" class="site_title"><i class="fa fa-envelope-open-o"></i> <span>EMMA Admin!</span></a>
                    </div>
                    <nav>
                        <ul class="nav navbar-nav" style="">
                            <li>
                                <a href='@Url.Action("Index", "Home")'><i class="fa fa-home"></i> Home </a>
                            </li>
                            <li id="publisherMenuItem">
                                <a href='@Url.Action("Index", "Publisher")'><i class="fa fa-search"></i> Publishers</a>
                            </li>
                            <li>
                                <a href='@Url.Action("Index", "Subscription")'><i class="fa fa-envelope-o"></i> Subscribe</a>
                            </li>
                            <li>
                                <a href='@Url.Action("Unconfirmed", "Publisher")'><i class="fa fa-question-circle"></i> Unconfirmed subscriptions</a>
                            </li>
                            <li id="faildSubscriptionsMenuItem">
                                <a href='@(Url.Action("Index", "Publisher") + "?publisherStatuses=" +
                                      (MailPusher.Common.Enums.PublisherStatus.Error_ConfirmNotFound
                                      | MailPusher.Common.Enums.PublisherStatus.Error_DoesNotExist
                                      | MailPusher.Common.Enums.PublisherStatus.Error_NotAllowedToSubscribe
                                      | MailPusher.Common.Enums.PublisherStatus.Error_SubscriptionNotFound).ToString())'><i class="fa fa-exclamation-circle"></i> Failed subscriptions</a>
                            </li>
                            <li id="potentiallyCancelledSubscriptionsMenuItem">
                                <a href='@(Url.Action("Index", "Publisher") + "?isPotentiallyCancelled=true")'><i class="fa fa-trash"></i> Potentially cancelled subscriptions</a>
                            </li>
                            <li>
                                <a href='@Url.Action("Latest", "Email")'><i class="fa fa-clock-o"></i> Latest emails</a>
                            </li>
                        </ul>
                        @*<div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>*@

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @User.Identity.Name
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Action("LogOut", "Account")"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
}
            <div class="right_col" role="main" style="min-height: 1657px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @RenderBody()
                    </div>

                </div>
            </div>
            <footer>
                <div class="pull-right">
                </div>
                <div class="clearfix"></div>
            </footer>
                
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gentelella")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        FixNavigation();
    </script>
</body>
</html>
