@model MailPusher.Models.Publisher
@{
    ViewBag.Title = "Edit publisher";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create Publisher</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">
                            Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="publisherName" class="form-control col-md-7 col-xs-12" required="required" value="@Model.Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Domain">
                            Domain <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="publisherDomain" class="form-control col-md-7 col-xs-12" required="required" value="@Model.Domain" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Language" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Language <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="publisherLanguage" class="form-control col-md-7 col-xs-12" required="required"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="NACEID" class="control-label col-md-3 col-sm-3 col-xs-12">
                            NACEID <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="hidden" id="publisherNACEid" value="@Model.NACEID" />
                                    <input type="text" id="publisherNACE" disabled="disabled" value="@Model.NACEDescription" class="form-control col-md-7 col-xs-12" />
                                </div>
                                <div class="col-md-3">
                                    <button id="showNaceTreeBtn" class="btn btn-default full-width" data-toggle="modal" data-target="#naceModal" type="button">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="publisherStatus" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Status <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="publisherStatus" class="form-control">
                                @foreach (MailPusher.Common.Enums.PublisherStatus status in Enum.GetValues(typeof(MailPusher.Common.Enums.PublisherStatus)))
                                {
                                    <option value="@((int)status)" @(status == Model.Status ? "selected" : "")>@status.ToString()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" type="reset">Reset</button>
                            <button id="submitBtn" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="naceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>NACE selection</h3>
                                </div>
                                <div class="modal-body">
                                    <div id="naceTree" class="demo jstree jstree-1 jstree-default"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="selectNACECloseBtn">Close</button>
                                    <button type="button" class="btn btn-primary" id="selectNACESaveBtn">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/jstree/style.css" media="screen" />
    <script type="text/javascript" src="~/Scripts/jstree/jstree.min.js"></script>
    <script type="text/javascript">
        $("#submitBtn").click(function () {
            var requiredFormsValid = true;
            $.each($('input[required]'), function (index, item) {
                if ($(item).val() == '') {
                    requiredFormsValid = false;
                };
            })
            if (!requiredFormsValid) {
                return false;
            }

            $.post('@Url.Action("Edit", "Publisher")', {
                'ID':@Model.ID,
                'Name': $("#publisherName").val(),
                'Domain': $("#publisherDomain").val(),
                'Language': $("#publisherLanguage").val(),
                'NACEID': $("#publisherNACEid").val(),
                'Status':$("#publisherStatus").val()
            }).done(function (result) {
                if (result === "ok") {
                    window.location.href = '@Url.Action("Index", "Publisher")'
                };
            });
            return false;
        });
        initShortCountrySelect("publisherLanguage", "@Model.Language");
        var naceTreeData = @Html.Raw(ViewBag.NACETree);
        $("#naceTree").jstree({ 'core' : {'data' : naceTreeData},
            "plugins" : [ "sort" ] });
        $("#naceTree").bind('loaded.jstree', function(e, data) {
            $('.treeTooltip').tooltip({'html':true,'placement':'top','trigger':'hover'});
        });
        $("#naceTree").bind("open_node.jstree", function (event, data) {
            $('.treeTooltip').tooltip({'html':true,'placement':'top','trigger':'hover'});
        });
        $("#selectNACESaveBtn").click(function(){
            var selectedNode = $('#naceTree').jstree().get_selected(true)[0];
            if(!!selectedNode)
            {
                $("#publisherNACEid").val(selectedNode.a_attr.id);
                $("#publisherNACE").val(selectedNode.text);
                $("#selectNACECloseBtn").click();
            }
            else{
                $.notify('Please select NACE',
                       {
                           type: 'danger',
                           placement:{align:'center'},
                           z_index:1100
                       });
            }
        });
    </script>

}
